/**
* Accordeon
*/
.accordeon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

details {
    background-color: gainsboro;
    position: relative;
    padding: 10px;
    padding-right: 100px;
    width: 10%;
    border-radius: 10px;
}

details::after{
    content: "";
    border-top : 30px solid transparent;
    border-bottom : 30px solid transparent;
    border-left : 30px solid gray;
    position: absolute;
    top: 20px;
    right: 45px;
    transition: 1s ease;
}
details[open]::after{
    border-left : 30px solid pink;
    transform: rotate(90deg);
}